/* Footer principal */
/* .footer {
  background-color: #ffecee;
  color: var(--color-letra-negra);
  padding: 40px 20px 10px;

} */
/* Footer */
/* === Footer General === */
/* Footer */
.simple-footer {
  background-color: #ffecee;
  color: var(--color-letra-negra);
  padding: 40px 20px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.simple-footer h2 {
  margin-bottom: 10px;
  color: rgb(201, 112, 129);
}

.simple-footer p {
  margin: 10px 0;
  font-size: 0.95rem;
  color: var(--color-letra-negra);
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-links a {
   color: var(--color-letra-negra);
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: crimson;
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  color: var(--color-letra-negra);
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: crimson;
}

footer .copyright {
  font-size: 0.85rem;
  color: #888;
  margin-top: 20px;
}
